<template>
    <div class="flex flex-col">
        <div class="order-2 md:order-1">
            <h1 class="font-tan">projet 0{{ route.params.id }}</h1>
            <div class="text-end">
                <h2 class="font-tan mb-0">mission</h2>
                <ul class="list-none p-0 m-0">
                    <li>Résidentiel, Lyon</li>
                    <li>Rénovation d’appartement de 50m²</li>
                    <li>Agencement et décoration</li>
                </ul>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 mt-5 order-3 md:order-2">
            <NuxtImg class="h-auto max-w-full col-span-2" src="images/project/project-1/project-1-1.png" />
            <NuxtImg class="h-auto max-w-full" src="images/project/project-1/project-1-2.png" />
            <NuxtImg class="h-auto max-w-full" src="images/project/project-1/project-1-3.png" />
            <NuxtImg class="h-auto max-w-full col-span-2" src="images/project/project-1/project-1-4.png" />
        </div>

        <div class="flex justify-between w-full mt-5 order-1 md:order-3">
            <NuxtLink
                :to="'/projet/' + getPrevId"
                class="text-sm rounded-lg border-0 bg-beige cursor-pointer font-tan decoration-none"
            >
                précédent.
            </NuxtLink>
            <NuxtLink
                :to="'/projet/' + getNextId"
                class="text-sm rounded-lg border-0 bg-beige cursor-pointer font-tan decoration-none"
            >
                suivant.
            </NuxtLink>
        </div>
    </div>
</template>

<script lang="ts" setup>
const route = useRoute();

const getPrevId = computed(() => {
    const prev = +route.params.id - 1;
    return prev === 0 ? "5" : prev.toString();
});
const getNextId = computed(() => {
    const next = +route.params.id + 1;
    return next === 6 ? "1" : next.toString();
});
</script>
