@import "components";

@font-face {
    font-family: "TAN-NIMBUS";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/TAN-NIMBUS.ttf") format("woff");
}

* {
    --at-apply: font-sans text-blue;
}

body {
    --at-apply: bg-beige w-full h-full m-0;
    overflow-x: hidden;
}
