<template>
    <footer>
        <div class="mx-auto md:py-8">
            <hr class="my-6 border-green sm:mx-auto lg:my-8" />
            <div class="flex flex-wrap items-center justify-between mb-4">
                <NuxtLink class="flex items-center" to="/">
                    <NuxtImg alt="logo" class="h-10 mr-3" src="/logos/logo.svg" />
                </NuxtLink>
                <div class="p-x-5">
                    <span class="font-tan text-sm">contact</span>
                    <ul class="list-none text-sm m-0 p-0">
                        <li>contact.maisonliva@gmail.com</li>
                        <li>instagram</li>
                    </ul>
                </div>
            </div>
            <span class="block text-sm text-end"> © Copyright Maison Liva </span>
        </div>
    </footer>
</template>

<script lang="ts" setup></script>
