<template>
    <nav id="navbar">
        <div class="max-w-screen-xl flex flex-wrap items-center md:items-end justify-between mx-auto">
            <NuxtLink class="flex items-center" to="/">
                <NuxtImg alt="logo" class="h-15 mr-3" src="/logos/logo.svg" />
            </NuxtLink>
            <button
                aria-controls="navbar-default"
                aria-expanded="false"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg border-0 md:hidden bg-beige cursor-pointer"
                data-collapse-toggle="navbar-default"
                type="button"
                @click="isDropdownOpen = !isDropdownOpen"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    aria-hidden="true"
                    class="w-5 h-5"
                    fill="none"
                    viewBox="0 0 17 14"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 1h15M1 7h15M1 13h15"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                    />
                </svg>
            </button>
            <div id="navbar-default" :class="{ hidden: !isDropdownOpen }" class="w-full md:block md:w-auto">
                <ul
                    class="list-none font-medium flex flex-col gap-1 p-4 md:p-0 items-end md:flex-row md:space-x-8 mt-0"
                >
                    <li>
                        <NuxtLink class="decoration-none" to="/projets">
                            réalisations<span class="text-red">.</span>
                        </NuxtLink>
                    </li>
                    <li>
                        <NuxtLink class="decoration-none" to="/team">
                            la team<span class="text-green">.</span>
                        </NuxtLink>
                    </li>
                    <li>
                        <NuxtLink class="decoration-none" to="/contact">
                            contact<span class="text-yellow">.</span>
                        </NuxtLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script lang="ts" setup>
const isDropdownOpen = ref(false);
</script>
