<template>
    <div>
        <h1 class="font-tan text-6xl">salut toi<span class="text-6xl text-green leading-8 font-tan">,</span></h1>
        <div>
            <span class="font-tan">contact</span>
            <ul class="list-none p-0">
                <li>contact.maisonliva@gmail.com</li>
                <li>instagram</li>
            </ul>
        </div>
        <NuxtImg class="w-full" src="images/contact.png" />
    </div>
</template>

<script lang="ts" setup></script>
