<template>
    <div ref="gif" class="w-[100vw] h-[100vh] flex justify-center items-center">
        <NuxtImg alt="logo" class="object-cover" src="/logos/logo.gif" />
    </div>
    <div ref="navbar">
        <Navbar />
    </div>
    <main class="flex flex-col gap-4">
        <div class="flex flex-wrap justify-center">
            <h1 class="text-3xl font-tan leading-8 md:text-6xl md:leading-20 order-1 md:order-2">
                L'art de sublimer l'ordinaire<span class="text-6xl text-red leading-8">.</span>
            </h1>
            <div class="grid grid-cols-2 gap-2 order-2 md:order w-full">
                <div>
                    <NuxtImg alt="home-1" class="h-auto max-w-full" src="/images/home/home-1.png" />
                </div>
                <div>
                    <NuxtImg alt="home-2" class="h-auto max-w-full" src="/images/home/home-2.png" />
                </div>
            </div>
        </div>

        <div>
            <div class="font-300 text-lg">
                <p>
                    Chez Maison Liva, nous croyons que chaque détail dans votre espace quotidien mérite d'être remarqué
                    et apprécié.
                </p>
                <p>
                    Notre philosophie repose sur l'alliance de la sobriété, du chic et de la simplicité avec des touches
                    audacieuses de couleur.
                </p>
                <p>
                    Nous transformons les éléments utilitaires souvent négligés tels que les plinthes, les
                    interrupteurs, les poignées de portes, les conduits et les tuyaux en pièces d'art fonctionnelles.
                </p>
                <p>
                    Nous apportons de la vie à votre quotidien en intégrant des touches de vitamine dans des endroits
                    inattendus.
                </p>
                <h2 class="font-tan text-yellow leading-10">Nous transformons l'ordinaire en extraordinaire.</h2>
            </div>
            <NuxtImg alt="home-3" class="w-full" src="/images/home/home-3.png" />
        </div>

        <div>
            <h2 class="font-tan text-lg tracking-widest">
                Une solution durable, flexible et originale<span class="text-red font-tan">.</span>
            </h2>
            <div class="font-300 text-lg">
                <p>
                    Notre expertise réside dans une architecture d’intérieur intemporelle et tendance. Nous
                    sélectionnons des matériaux de qualité et des finitions contemporaines pour les sols et les murs,
                    assurant ainsi que votre lieu de vie conserve son élégance année après année.
                </p>
                <p>
                    Nous apportons de la vie à votre espace avec des détails en couleur qui se marient harmonieusement
                    avec la palette neutre des différents espaces. Que ce soit à travers des plinthes vibrantes, des
                    interrupteurs audacieux ou des poignées de portes élégantes, chaque élément est soigneusement choisi
                    pour compléter votre intérieur.
                </p>
                <p>
                    Nous comprenons que les tendances évoluent, c'est pourquoi nous offrons la flexibilité. Les éléments
                    colorés peuvent être changés facilement et à moindre coût si vos goûts évoluent dans le futur.
                </p>
                <p>
                    Au lieu de tout refaire, il vous suffit de mettre à jour les détails, offrant ainsi un nouveau
                    souffle à votre quotidien.
                </p>
            </div>
        </div>

        <div>
            <h2 class="font-tan text-lg tracking-widest">
                Des objets du quotidien<span class="text-green font-tan">.</span>
            </h2>
            <div class="font-300 text-lg">
                <p>
                    De la poignée de porte à la lampe de bureau, chaque objet que nous vous proposons est
                    méticuleusement choisi pour allier utilité et esthétique. Nous transformons l'ordinaire en une
                    expérience sensorielle exceptionnelle.
                </p>
                <p>
                    Les plinthes sont plus que de simples éléments de finition. Elles complètent votre espace, ajoutant
                    une touche inédite à chaque pièce.
                </p>
                <p>
                    Les interrupteurs ne devraient pas être ignorés. Ils devraient être non seulement fonctionnels mais
                    aussi artistiques, disponibles dans une palette de couleurs vives pour ajouter une touche de gaieté
                    à votre intérieur.
                </p>
            </div>
        </div>

        <div>
            <h2 class="font-tan text-lg tracking-widest">Notre promesse<span class="text-yellow font-tan">.</span></h2>
            <div class="font-300 text-lg">
                <p>
                    Lorsque vous choisissez Maison Liva, vous choisissez l'élégance intemporelle, la créativité et la
                    liberté de redéfinir votre lieu de vie de la simple mission décoration à la rénovation majeure. 
                </p>
                <p>Nous sommes là pour sublimer votre quotidien, un détail à la fois.</p>
                <p>
                    Chez Maison Liva, nous vous invitons à redécouvrir votre environnement quotidien avec des yeux
                    nouveaux. Rejoignez-nous dans notre voyage pour sublimer l'ordinaire et pour apporter de la couleur
                    à votre vie de tous les jours.
                </p>
                <p>
                    Plus qu'une marque, nous sommes les gardiens de votre confort et les défenseurs de votre
                    authenticité.
                </p>
            </div>
        </div>
    </main>
</template>

<script lang="ts" setup>
definePageMeta({
    layout: "home",
});

const gif = ref<HTMLElement>();
const navbar = ref<HTMLElement>();

onMounted(() => {
    document.addEventListener("scroll", () => {
        if (window.scrollY >= window.innerHeight && !gif.value?.classList.contains("!hidden")) {
            gif.value?.classList.add("!hidden");
            window.scrollTo({ top: 0, behavior: "smooth" });
        }
    });
    setTimeout(() => {
        if (!gif.value?.classList.contains("!hidden") && window.scrollY < window.innerHeight)
            window.scrollTo({
                top: navbar.value?.getBoundingClientRect().top,
                behavior: "smooth",
            });
    }, 2000);
});
</script>
