<template>
    <div class="mt-5 flex flex-col md:flex-row gap-5">
        <ul class="basis-auto shrink grow list-none">
            <li>
                <NuxtLink class="decoration-none" to="/projet/1">
                    <h1 class="font-tan text-2xl">projet 01</h1>
                    <div class="text-end">
                        <NuxtImg class="w-3/4" src="images/project/project-1.png" />
                    </div>
                </NuxtLink>
            </li>
            <li>
                <NuxtLink class="decoration-none" to="/projet/2">
                    <h1 class="font-tan text-2xl">projet 02</h1>
                    <div class="text-end">
                        <NuxtImg class="w-3/4" src="images/project/project-2.png" />
                    </div>
                </NuxtLink>
            </li>
            <li>
                <NuxtLink class="decoration-none" to="/projet/3">
                    <h1 class="font-tan text-2xl">projet 03</h1>
                    <div class="text-end">
                        <NuxtImg class="w-3/4" src="images/project/project-3.png" />
                    </div>
                </NuxtLink>
            </li>
            <li>
                <NuxtLink class="decoration-none" to="/projet/4">
                    <h1 class="font-tan text-2xl">projet 04</h1>
                    <div class="text-end">
                        <NuxtImg class="w-3/4" src="images/project/project-4.png" />
                    </div>
                </NuxtLink>
            </li>
            <li>
                <NuxtLink class="decoration-none" to="/projet/5">
                    <h1 class="font-tan text-2xl">projet 05</h1>
                    <div class="text-end">
                        <NuxtImg class="w-3/4" src="images/project/project-5.png" />
                    </div>
                </NuxtLink>
            </li>
        </ul>

        <ul class="flex flex-col gap-5 ps-5 md:max-w-1/2 font-300">
            <li>
                Étude et Analyse :<br />
                Analyse des besoins et des objectifs du client. Étude de l'espace existant et évaluation des
                contraintes.
            </li>
            <li>
                Conception :<br />Création de plans détaillés en 2D et 3D pour visualiser le projet. Proposition de
                concepts et de thèmes de design. Sélection des matériaux, des couleurs, des textures et des finitions.
            </li>
            <li>
                Agencement de l'Espace :<br />Optimisation de l'espace disponible pour une utilisation efficace.
                Conception de l'agencement des meubles, des équipements et des éléments décoratifs.
            </li>
            <li>
                Design d'Intérieur :<br />Conception de l'éclairage intérieur. Sélection et placement du mobilier. Choix
                des revêtements de sol, des tissus d'ameublement et des accessoires.
            </li>
            <li>
                Gestion des Travaux :<br />Coordination avec les entrepreneurs et les artisans. Supervision du chantier
                pour s'assurer que le design est mis en œuvre correctement.
            </li>
            <li>
                Personnalisation et Sur-mesure :<br />Création de meubles sur mesure ou de solutions personnalisées pour
                répondre aux besoins spécifiques du client.
            </li>
            <li>
                Optimisation de l'Éclairage et de la Couleur :<br />Conception de l'éclairage intérieur pour créer des
                ambiances différentes. Utilisation de la couleur pour influencer l'atmosphère et l'humeur de l'espace.
            </li>
            <li>
                Conseils en Décoration :<br />Aide à la sélection d'œuvres d'art, d'objets décoratifs et d'accessoires.
                Recommandations sur les stores, les rideaux et les éléments décoratifs.
            </li>
            <li>
                Développement Durable :<br />Intégration de pratiques et de matériaux écologiques et durables dans le
                design.
            </li>
            <li>
                Suivi et Évaluation :<br />Suivi après l'achèvement du projet pour s'assurer de la satisfaction du
                client. Évaluation de l'efficacité du design en fonction de l'utilisation réelle de l'espace.
            </li>
        </ul>
    </div>
</template>

<script lang="ts" setup></script>
