<template>
    <div flex flex-col font-300 justify-center="">
        <h1 class="font-tan text-6xl">LIVA<span class="text-6xl text-red leading-8 font-tan">,</span></h1>
        <NuxtImg src="images/team/team.png" />
        <p>
            C’est l'histoire passionnante de deux jeunes femmes que tout oppose, à l'exception de leur amour
            inébranlable pour l'architecture d'intérieur.
        </p>
        <NuxtImg src="images/team/eva.png" />
        <p>
            L'une, originaire de Haute-Savoie, apporte une touche de sophistication contemporaine avec des nuances
            neutres et une élégance discrète.
        </p>
        <NuxtImg src="images/team/lauriane.png" />
        <p>
            L'autre, est Lyonnaise, explore les profondeurs des couleurs audacieuses, créant un univers vibrant et
            expressif.
        </p>
        <h2 class="font-tan text-yellow leading-10">
            où l'harmonie des différences devient l'essence même du design intérieur.
        </h2>
        <p>
            Ensemble, elles fusionnent leurs mondes contrastés pour donner naissance à des espaces uniques et
            captivants.
        </p>
    </div>
</template>

<script lang="ts" setup></script>
